@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Seleccione el botón del tipo de lista que desea utilizar </p>
    <a class="btn btn-primary justify-content-end" asp-area="" asp-controller="Home" asp-action="OptionList" id="0">Lista Personalizada</a>
    <a class="btn btn-primary justify-content-end" asp-area="" asp-controller="Home" asp-action="OptionList" id="1">Lista del Sistema</a>
