@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    >
</div>
<p>Seleccione el botón del tipo de lista que desea utilizar </p>
@Html.ActionLink("Lista Personalizada", "OptionList", new { id = 0 })
@Html.ActionLink("Lista del Sistema", "OptionList", new { id = 1 })
@*<a class="btn btn-primary justify-content-end" asp-area="" asp-controller="Home" asp-action="OptionList" id="0">Lista Personalizada</a>
    <a class="btn btn-primary justify-content-end" asp-area="" asp-controller="Home" asp-action="OptionList" id="1">Lista del Sistema</a>*@
