
@{
    ViewData["Title"] = "SubirArchivo";
}

<h1 style="color:lightgreen">SubirArchivo</h1>

<form asp-action="SubirArchivo">
    <div class="form-group">
        <label class="control-label">Archivo</label>
        <input type="file" name="Archivo" class="form-control" />
        <input type="submit" value="Subir" class="btn btn-primary" />
    </div>
</form>