@model LAB01_2530019_1203819.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:lightgreen">Edit</h1>

<h4  style="color:darkslateblue">Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group"></div>
                <label asp-for="Club" class="control-label"></label>
                <input asp-for="Club" class="form-control" />
                <span asp-validation-for="Club" class="text-danger"></span>
                <input type="hidden" asp-for="First_name" />
                <input type="hidden" asp-for="Last_name" />
                <input type="hidden" asp-for="Position" />
                <input type="hidden" asp-for="Guaranteed_compensation" />
                <div class="form-group">
                    <label asp-for="Base_salary" class="control-label"></label>
                    <input asp-for="Base_salary" class="form-control" />
                    <span asp-validation-for="Base_salary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-dark">
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

